$big_button : #6D7D7D;
$small_button : #3EBDBD;
$back_color : #DBFDFD;
$hover_color : #AFC9C9;
$font_color : #5e5e5e;
$mid_button : #3EBDBD;
$midbox_color : rgb(249, 249, 249);
$hotel_color : rgba(128, 57, 57, 0.81);
$sale_color : rgb(192, 57, 43);
* { margin : 0px; padding : 0px; font-family: 'Nanum Gothic', sans-serif; }
@mixin button_st {
    background-color: $mid_button; color : white;
    font-size : 18px; text-align: center;
    line-height : 37px; font-weight: bold;
    border-radius: 5px; margin : 20px 0px 5px 95px;
}
@mixin button_st2 {
    width : 220px; height : 70px;
    background-color: $big_button;
    color : white; font-size : 27px; font-weight: bold;
    text-align: center; line-height: 70px; border-radius: 5px;
    margin : 20px 0px 10px 20px;    
}
.main_box {
    width : 1000px;
    background-color: $back_color;
    position : absolute;
    left : 50%;
    margin-left : -500px;
    .head_top {
        width : 1000px;
        height : 30px;
        background-color: $back_color;
        color : $big_button;
        font-size : 15px;
        font-weight: bold;
        text-align: center;
        line-height: 28px;
    }
    .back_img {
        width : 1000px; height : 464px;
        background-color: $back_color;
    }
    .mark_img {
        width : 620px; height : 442px;
        position : absolute;
        top : 150px; left : 500px; margin-left: -310px;
    }
    .button_all{
        width : 756px; height : 75px;
        position : absolute;
        top : 601px; left : 500px; margin-left : -375px;
        .button_box {
            width : 250px; height : 75px;
            background-color: $hover_color;
            font-size : 30px; color : white;
            text-align: center;
            line-height : 75px; font-weight: bold;
            float: left; margin : 0px 1px;
            text-decoration: none;
            transition: 0.6s;
            border-top-left-radius : 5px;
            border-top-right-radius: 5px;
            cursor: pointer;
        }
        .button_box:hover{
            background-color: $small_button;
        }
        .button_select{
            background-color: $small_button;
        }
    }
    .mid_box1 {
        width : 980px; height : 860px;
        border : 10px solid $small_button;
        background-color: white;
        margin-top : 182px;
        display: none;
        .event_info {
            width : 700px; height : 70px;
            background-color: $big_button; color : white;
            font-size: 25px; text-align: center;
            font-weight: bold;
            line-height : 70px; border-radius: 5px;
            margin : 30px 90px 10px 90px;
        }
        .mid_title {
            width : 700px;
            height : 50px;
            font-size : 25px; color: $font_color;
            line-height: 50px;
            margin-top : 10px;
            margin-bottom: 10px;
            margin-left : 120px;
            font-weight: bold;
        }
        .mid_button {
            width : 200px; height : 40px;
            @include button_st;
            margin-top : 0px;
        }
        .small_box{
            width : 500px;
            margin-left: 130px;
            .sort_t {
                list-style-type: disc;
                color : $font_color; font-weight: bold;
                font-size: 18px; line-height: 40px;
            }
            .sort_p {
                color : $font_color;
                font-size: 16px; line-height: 22px;
                margin-bottom: 10px;
            }
        }
        .sp_button1 {
            width : 470px; height : 40px;
            @include button_st;
            margin-top: 0px;            
        }
        .pic_sp1{
            width : 200px; height : 100px;
            margin : 10px 0px 10px 130px;
        }
        .sp_button2 {
            @include button_st;
            width : 390px; height : 40px;
            margin-top: 0px;
        }
        .pic_sp2 {
            width : 187px; height : 79px;
            margin : 10px 0px 10px 130px;
        }
        .pic_sp3 {
            width : 169px; height : 108px;
            margin : 10px 0px;
        }
    }
    .mid_box2 {
        width : 980px; height : 2500px;
        border : 10px solid $small_button;
        background-color: white;
        margin-top : 182px;
        display: none;
        .button_box2 {
            @include button_st2;
            margin : 20px 0px 10px 20px;            
            float : left;
        }
        .font_set {
            width : 880px;
            height : 100px;
            font-weight: bold;
            font-size: 20px;
            line-height: 110px;
            color : $font_color;
        }
        .hotel_box{
            width : 430px; height : 450px;
            background-color: $back_color;
            margin : 10px 30px 30px 30px;
            float: left;
            .hotel_img{
                width : 410px; height : 340px;
                margin : 10px;
            }
            .hotel_price{
                width : 430px; height : 90px;
                background-color: $midbox_color;
                .hotel_night{
                    width : 50px; height : 20px;
                    color : white;
                    background-color: $sale_color;
                    font-size: 12px;
                    line-height: 20px;
                    text-align: center;
                    margin: 10px 75px;
                    float: left;
                }
                .prev_price{
                    width : 230px; height : 40px;
                    color : rgb(190, 190, 190);
                    font-size: 20px;
                    line-height: 40px;
                    text-align: center;
                    text-decoration: line-through;
                    float: left;
                }                
                .hotel_sale{
                    width : 200px; height : 40px;
                    color : $sale_color;
                    font-size : 30px;
                    font-weight: bold;
                    text-align: center;
                    line-height: 50px;
                    float: left;
                    padding-bottom: 10px;
                }
                .hotel_pay{
                    width : 230px; height : 40px;
                    color : $font_color; 
                    font-size : 30px;
                    line-height: 50px;
                    text-align: center;
                    font-weight: bold;
                    float : left;
                    padding-bottom: 10px;
                }
            }
            .hotel_title{
                width : 410px; height : 50px;
                background-color : $hotel_color;
                color : white;
                font-size : 25px;
                text-align: center;
                font-weight: bold;
                line-height: 50px;
                position: absolute;
                margin : 10px;
                clear : both;
            }
        }
        .button_box3{
            @include button_st2;         
            clear: both;
        }
        .back_box{
            width : 430px;
            height : 150px;
            border : 10px solid $back_color;
            margin : 10px 10px 10px 20px;
            float: left;
            .op_pic1{
                width : 230px;
                height : 150px;
                float: left;
            }
            .small_title{
                width : 200px;
                height : 30px;
                background-color : $small_button;
                color : white;
                text-align: center;
                font-weight: bold;
                font-style: 17px;
                line-height: 30px;
                float: left;
            }
            .content_box{
                width : 192px;
                height : 82px;
                background-color : $midbox_color;
                color : $font_color;
                font-size: 13px;
                padding : 4px;
                display: inline-block;
            }
            .content_boxf{
                width : 192px;
                height : 112px;
                background-color : $midbox_color;
                color : $font_color;
                font-size: 13px;
                padding : 4px;
                display: inline-block;
            }            
            .bottom_title{
                width : 200px;
                height : 30px;
                background-color: $hover_color;
                color : white;
                text-align: center;
                font-weight: bold;
                font-size: 17px;
                line-height: 30px;
                float: left;
                .bottom_color{
                    color : $font_color;
                }                
            }
        }
        .button_box4{
            @include button_st2;
            margin-top : 15px;
            margin-right : 500px;
            float: left;
        }
        .button_box5{
            @include button_st2;
            margin-top : 15px;
            margin-right : 500px;
            float: left;           
        }         
        .sc_back{
            width : 765px;
            height : 350px;
            margin-top : 10px;
            margin-left: 40px;
            float: left;
            .sc_bt{
                width : 65px;
                height : 30px;
                background-color: $mid_button;
                color : white;
                font-size : 17px;
                text-align : center;
                line-height: 30px;
                border-radius: 3px;
                margin : 0px 10px 0px 0px;
                float: left;
            }
            .sc_text1{
                width : 680px;
                height : 70px;
                color : $font_color;
                font-size: 16px;
                font-weight: bold;
                float: left;
                .sc_text2{
                    clear: both;
                    font-weight: normal;
                }
            }
        }
    }
    .mid_box3 {
        width : 980px; height : 3000px;
        border : 10px solid $small_button;
        background-color: white;
        margin-top : 182px;
        display: none;
        .button_box2 {
            @include button_st2;
            margin : 20px 0px 10px 20px;            
            float : left;
        }
        .font_set {
            width : 880px;
            height : 100px;
            color : $font_color;
            font-weight: bold;
            font-size: 20px;
            line-height: 110px;
        }
        .hotel_box{
            width : 430px; height : 450px;
            background-color: $back_color;
            margin : 10px 30px 30px 30px;
            float: left;
            .hotel_img{
                width : 410px; height : 340px;
                margin : 10px;
            }
            .hotel_price{
                width : 430px; height : 90px;
                background-color: $midbox_color;
                .hotel_night{
                    width : 50px; height : 20px;
                    color : white;
                    background-color: $sale_color;
                    font-size: 12px;
                    line-height: 20px;
                    text-align: center;
                    margin: 10px 75px;
                    float: left;
                }
                .prev_price{
                    width : 230px; height : 40px;
                    color : rgb(190, 190, 190);
                    font-size: 20px;
                    line-height: 40px;
                    text-align: center;
                    text-decoration: line-through;
                    float: left;
                }                
                .hotel_sale{
                    width : 200px; height : 40px;
                    color : $sale_color;
                    font-size : 30px;
                    font-weight: bold;
                    text-align: center;
                    line-height: 50px;
                    float: left;
                    padding-bottom: 10px;
                }
                .hotel_pay{
                    width : 230px; height : 40px;
                    color : $font_color; 
                    font-size : 30px;
                    line-height: 50px;
                    text-align: center;
                    font-weight: bold;
                    float : left;
                    padding-bottom: 10px;
                }   
            }
            .hotel_title{
                width : 410px; height : 50px;
                background-color : $hotel_color;
                color : white;
                font-size : 25px;
                text-align: center;
                font-weight: bold;
                line-height: 50px;
                position: absolute;
                margin : 10px;
                clear : both;
            }
        }
        .button_box4{
            @include button_st2;
            float: left;
            margin-top : 0px;
            margin-right: 500px;            
        }
        .back_box{
            width : 430px;
            height : 150px;
            border : 10px solid $back_color;
            margin : 10px 10px 10px 20px;
            float: left;
            .op_pic1{
                width : 230px;
                height : 150px;
                float: left;
            }
            .small_title{
                width : 200px;
                height : 30px;
                background-color : $small_button;
                color : white;
                text-align: center;
                font-weight: bold;
                font-size: 17px;
                line-height: 30px;
                float: left;
            }
            .content_box{
                width : 192px;
                height : 82px;
                background-color : $midbox_color;
                color : $font_color;
                font-size: 13px;
                padding : 4px;
                display: inline-block;
            }
            .content_boxf{
                width : 192px;
                height : 112px;
                background-color : $midbox_color;
                color : $font_color;
                font-size: 13px;
                padding : 4px;
                display: inline-block;
            }            
            .bottom_title{
                width : 200px;
                height : 30px;
                background-color: $hover_color;
                color : white;
                text-align: center;
                font-weight: bold;
                font-style: 17px;
                line-height: 30px;
                float: left;
                .bottom_color{
                    color : $font_color;
                }                
            }
        }
        .button_box5{
            @include button_st2;
            float: left;
            margin-top : 10px;
            margin-bottom : 20px;
            margin-right: 800px;           
        } 
        .sc_back{
            width : 775px;
            height : 1300px;
            margin-top : 10px;
            margin-left: 40px;
            .sc_bt{
                width : 65px;
                height : 30px;
                background-color: $mid_button;
                color : white;
                font-size : 17px;
                font-weight : bold;
                text-align : center;
                line-height: 30px;
                border-radius: 3px;
                margin : 0px 10px 0px 0px;
                float: left;
            }
            .sc_text1{
                width : 680px;
                height : 70px;
                color : $font_color;
                font-size: 16px;
                font-weight: bold;
                float: left;
                .sc_text2{
                    clear: both;
                    font-weight: normal;
                }
            }
            .sc_text3{
                width : 650px;
                height : 30px;
                color : $font_color;
                font-size: 16px;
                font-weight: bold;  
                float: left;
            }
            .margin_box{
                margin : 0px 500px 20px 80px; 
            }
            .margin_box1{
                margin-left : 80px;
            }            
            .margin_box2{
                margin-bottom : 20px;
            }
            .mana_text{
                width : 400px;
                color : $font_color;
                font-size: 16px;
                margin-left: 75px;
                float: left;
            }
            .mana_info{
                color :rgb(230, 57, 43);
                font-size: 15px;
                float: left;
            }
        }
    }
    .last_box{
        width : 960px;
        height : 170px;
        background-color: $small_button;
        color : white;
        font-size : 12px;
        line-height : 16px;
        border : 20px solid $small_button;
    }
}
